body {
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TakeText-header {
  padding: 15px;
  margin: 5px;
  display: grid;
  width: fit-content;
  /* justify-items: center; */
}

.ShowText-header {
  width: fit-content;
}

form {
  width: fit-content;
}

input {
  padding: 5px;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

li {
  width: fit-content;
}